<div class="grid-table">
  <%
  if scroll_on_off == 'ON'
    table_class = 'table table-hover table-bordered table-condensed table-scroll h5'
  elsif scroll_on_off == 'OFF'
    table_class = 'table table-hover table-bordered table-condensed h5'
  else
    table_class = 'table table-hover table-bordered table-condensed h5'
  end
  %>
  <% articles.each do |article| %>
    <div class="col-xs-3 col-md-2">
      <figure>
        <a href="<%= article.link %>" target="_blank">
          <img class="article-icon-grid" border="0" src=<%= article.icon %> alt=<%= article.title %> >
          <figcaption>
            <p  class="article-icon-grid-caption"><%= article.title %></p>
          </figcaption>
        </a>
      </figure>
    </div>
  <% end %>
</div>
