// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



a.category-list-item:link {
  color:#CCCCCC;
}

a.category-list-item:visited {
  color:#CCCCCC;
}

a.category-list-item.active:link {
  color:#2196f3;
}

a.category-list-item.active:visited {
  color:#2196f3;
}

.nav-tabs-ext{
  margin-top: 40px;
}

li.content-nav-li{
  float: left;
  text-align: center;
  display: list-item;
  border-bottom: 2px solid #CCCCCC;
  padding: 10px 10px 5px 10px;
}

li.content-nav-li.active{
  font-size: 125%;
  border-bottom: 2px solid #2196f3;
}


ul.content-nav{
}

.content-list{
  text-align: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
  min-height: 10px;
  word-break: break-all;
}

img.article-icon-list{
  background-color: #ccc;
  width: 160px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 50%;
}

img.article-icon-grid{
  background-color: #ccc;
  width: 160px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 50%;
}

.article-icon-space{
  float: left;
  margin: -5px 10px -6px -5px;
  overflow: hidden;
}

p.article-link{
}

.article-link-space {
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

p.article-source-link{
}

.article-source-space {
  width: 100px;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}


/* グリッド表示時のキャプションアニメーション */
figure {
  position: relative;
  overflow: hidden;
  width: 160px;       // img.article-icon-grid の width と等しくある必要がある.
}

figcaption {
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
}

figure:hover figcaption {
  bottom: 0;
}


figcaption > p.article-icon-grid-caption{
  color: white;
  font-size: small;
  line-height: 1;
  text-overflow: ellipsis;
}

/* -------------------------------- */



tr.article{
}

table.table-scroll{
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 600px;
}

table.table-scroll::-webkit-scrollbar {
  display: none;
}

table.table-scroll tbody.tbody-scroll td.article-source td.article-main{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* スマホ用 */
@media (max-width: 544px) {
  img.article-icon{
    background-color: #000;
    width: 128px;
    height: 82px;
  }

  p.article-link{
    font-size: small;
  }
}
