<!-- <footer class="footer hidden-sm hidden-md hidden-lg hidden-xl">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="text-muted">Thank you for your viewing.</p>
    </div>
  </nav>
</footer> -->
<!-- admax -->
<script src="//adm.shinobi.jp/s/dc2c0e9e364a004e6d72b7d1f0e00c35"></script>
<!-- admax -->
