<div class="hidden-xs col-sm-2 pull-right">
  <!-- <aside>
    <div class="panel panel-default">
      <div class="panel-heading">
        注意
      </div>
      <h6>現在β版公開です<br> 当サイトは予告なくメンテンスや停止をすることがあります</h6>
    </div>
  </aside>
  <aside>
    <div class="panel panel-default">
      <div class="panel-heading">
        Menu
      </div>
      <ul class="sidebar list nav sidebar-nav nav-pills nav-stacked" id="category">
       <li>
         <p>　TBC</p>
       </li>
      </ul>
    </div>
  </aside> -->
  <aside>
    <div class="area-ad">
      <!-- admax -->
      <script src="//adm.shinobi.jp/s/0e0b09e76e0a3828433beb567eb4a690"></script>
      <!-- admax -->
    </div>
  </aside>

</div>
